{include="header2"}

{if="$fsc->registro"}
<div class="container">
   <div class="row">
      <div class="col-xs-6">
      <div class="col-xs-12">
         <strong>Nombre:</strong><br/>
         {$fsc->registro->nombre_cliente}
      </div>
      <div class="col-xs-6">
         <strong>Teléfono fijo:</strong><br/>
         {$fsc->registro->telefono1_cliente}
      </div>
      <div class="col-xs-6">
         <strong>Teléfono móvil:</strong><br/>
         {$fsc->registro->telefono2_cliente}
      </div>
      <div class="col-xs-12">
         <strong>Modelo:</strong><br/>
         {$fsc->registro->modelo}
      </div>
      <div class="col-xs-12">
         <strong>Averia:</strong><br/>
         {$fsc->registro->averia}
      </div>
      <div class="col-xs-12">
         <strong>Accesorios:</strong><br/>
         {$fsc->registro->accesorios}
      </div>
      <div class="col-xs-12">
         <strong>Observaciones:</strong><br/>
         {$fsc->registro->observaciones}
      </div>
   </div>
   <div class="col-xs-6">
      <h4><strong>Número de SAT: {$fsc->registro->nsat}</strong><br/></h4>
      <p>Condiciondes del deposito:<br/>
         Los presupuestos realizados tienen una<br/>
         validez de 15 dias<br/>
         Una vez avisado al cliente para que recoja
         el producto este dispondrá de un plazo maximo de
         2 meses para recogerlo, de no ser así y no
         haber aviso por parte del cliente se empezará a
         cobrar 1 euro al dia por gasto de almacenaje.<br/>
         Los accesorios y productos externos al equipo 
         no especificados en este documento no podran ser
         reclamados en caso de disconformidad con el técnico.
      </p>
      <h4>
         Servicio prestado por: {$fsc->empresa->nombre}<br/>
         {if="$fsc->agente"}
         Le a atendido el tecnico: <strong>{$fsc->agente->get_fullname()}</strong><br/>
         {/if}
         Tlf: <strong>{$fsc->empresa->telefono}</strong> Email: <strong>{$fsc->empresa->email}</strong><br/>
      </h4>
   </div>
   <p>...............................................................................................................................................................................................</p>
   <div class="col-xs-6">
      <div class="col-xs-6">
         <h4><strong>Número de SAT: {$fsc->registro->nsat}</strong><br/></h4>
      </div>
      <div class="col-xs-6">
         <h4><strong>Prioridad</strong><br/>
            {loop="fsc->listar_prioridad()"}
            {if="$value['id_prioridad'] == $fsc->registro->prioridad"}
            {$value['nombre_prioridad']}
            {/if}
            {/loop}
         </h4>
      </div>
      <div class="col-xs-6">
         <h4><strong>Comienzo:</strong><br/>
            {$fsc->registro->fcomienzo}</h4>
      </div>
      <div class="col-xs-6">
         <h4><strong>Finalización:</strong><br/>
            {$fsc->registro->ffin}</h4>
      </div>
      <div class="col-xs-12">
         <strong>Nombre:</strong><br/>
         {$fsc->registro->nombre_cliente}
      </div>
      <div class="col-xs-6">
         <strong>Teléfono fijo:</strong><br/>
         {$fsc->registro->telefono1_cliente}
      </div>
      <div class="col-xs-6">
         <strong>Teléfono móvil:</strong><br/>
         {$fsc->registro->telefono2_cliente}
      </div>
      <div class="col-xs-12">
         <strong>Modelo:</strong><br/>
         {$fsc->registro->modelo}
      </div>
      <div class="col-xs-12">
         <strong>Averia:</strong><br/>
         {$fsc->registro->averia}
      </div>
      <div class="col-xs-12">
         <strong>Accesorios:</strong><br/>
         {$fsc->registro->accesorios}
      </div>
      <div class="col-xs-12">
         <strong>Observaciones:</strong><br/>
         {$fsc->registro->observaciones}
      </div>
   </div>

   <div class="col-xs-6">
      <br/>
      Notas:
      <br/>  
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
   </div>
   </div>
</div>
{/if}

{include="footer2"}