{include="header2"}

{if="$fsc->registro"}
<div class="container">
   <div class="row">
      <div class="col-xs-6">
         <div class="col-xs-12">
            <strong>Nombre:</strong><br/>{$fsc->registro->nombre_cliente}
         </div>
         <div class="col-xs-6">
            <strong>Teléfono fijo:</strong><br/>{$fsc->registro->telefono1_cliente}
         </div>
         <div class="col-xs-6">
            <strong>Teléfono móvil:</strong><br/>{$fsc->registro->telefono2_cliente}
         </div>
         {if="$fsc->sat_setup['sat_col_modelo']"}
         <div class="col-xs-12">
            <strong>Modelo:</strong><br/>{$fsc->registro->modelo}
         </div>
         {/if}
         <div class="col-xs-12">
            <strong>Avería:</strong><br/>{$fsc->registro->averia}
         </div>
         {if="$fsc->sat_setup['sat_col_accesorios']"}
         <div class="col-xs-12">
            <strong>Accesorios:</strong><br/>{$fsc->registro->accesorios}
         </div>
         {/if}
         <div class="col-xs-12">
            <strong>Fecha:</strong><br/>{$fsc->registro->fentrada}
         </div>
         <div class="col-xs-12">
            <strong>Observaciones:</strong><br/>{$fsc->registro->observaciones}
         </div>
      </div>
      <div class="col-xs-6">
         <h4 style="margin-top: 0px;"><strong>Número de SAT: {$fsc->registro->nsat}</strong><br/></h4>
         <p>{$fsc->condiciones()}</p>
         <h4>
            Servicio prestado por:<br/><strong>{$fsc->empresa->nombre}</strong><br/>
            {if="$fsc->agente"}
            Le ha atendido el técnico:<br/><strong>{$fsc->agente->get_fullname()}</strong><br/>
            {/if}
            Tlf: <strong>{$fsc->empresa->telefono}</strong> Email: <strong>{$fsc->empresa->email}</strong><br/>
         </h4>
      </div>
      <p>...............................................................................................................................................................................................</p>
      <div class="col-xs-6">
         <div class="col-xs-12">
            <h4><strong>Nº SAT: {$fsc->registro->nsat}</strong></h4>
            {if="$fsc->sat_setup['sat_col_prioridad']"}
            <h5>
               {loop="fsc->listar_prioridad()"}
                  {if="$value['id_prioridad'] == $fsc->registro->prioridad"}
                  {$value['nombre_prioridad']}
                  {/if}
               {/loop}
            </h5>
            {/if}
         </div>
         {if="$fsc->sat_setup['sat_col_fechaini']"}
         <div class="col-xs-6">
            <h4><strong>Comienzo:</strong><br/>{$fsc->registro->fcomienzo}</h4>
         </div>
         {/if}
         {if="$fsc->sat_setup['sat_col_fechafin']"}
         <div class="col-xs-6">
            <h4><strong>Finalización:</strong><br/>{$fsc->registro->ffin}</h4>
         </div>
         {/if}
         <div class="col-xs-12">
            <strong>Nombre:</strong><br/>{$fsc->registro->nombre_cliente}
         </div>
         <div class="col-xs-6">
            <strong>Teléfono fijo:</strong><br/>{$fsc->registro->telefono1_cliente}
         </div>
         <div class="col-xs-6">
            <strong>Teléfono móvil:</strong><br/>{$fsc->registro->telefono2_cliente}
         </div>
         {if="$fsc->sat_setup['sat_col_modelo']"}
         <div class="col-xs-12">
            <strong>Modelo:</strong><br/>{$fsc->registro->modelo}
         </div>
         {/if}
         <div class="col-xs-12">
            <strong>Avería:</strong><br/>{$fsc->registro->averia}
         </div>
         {if="$fsc->sat_setup['sat_col_accesorios']"}
         <div class="col-xs-12">
            <strong>Accesorios:</strong><br/>{$fsc->registro->accesorios}
         </div>
         {/if}
         <div class="col-xs-12">
            <strong>Observaciones:</strong><br/>{$fsc->registro->observaciones}
         </div>
      </div>
      <div class="col-xs-6">
         <br/>
         Notas:
         <br/>  
         <br/>
         <br/>
         <br/>
         <br/>
         <br/>
         <br/>
         <br/>
         <br/>
         <br/>
         <br/>
         <br/>
         <br/>
         <br/>
         <br/>
         <br/>
         <br/>
      </div>
   </div>
</div>
{/if}

{include="footer2"}