{include="header"}

<script type="text/javascript">
   function eliminar_estado(id)
   {
      if( confirm("¿Realmente desea eliminar el estado "+id+"?") )
         window.location.href = '{$fsc->url()}&delete_estado='+id;
   }
   $(document).ready(function () {
      document.f_buscar_sat.query.focus();
      $("#b_nuevo_sat").click(function (event) {
         event.preventDefault();
         $("#modal_nuevo_sat").modal('show');
         document.f_nuevo_sat.ac_cliente.focus();
      });
      $("#ac_cliente").autocomplete({
         serviceUrl: '{$fsc->url()}',
         paramName: 'buscar_cliente',
         onSelect: function (suggestion) {
            if (suggestion)
            {
               if (document.f_nuevo_sat.codcliente.value != suggestion.data)
               {
                  document.f_nuevo_sat.codcliente.value = suggestion.data;
               }
            }
         }
      });
   });
</script>

<form name="f_buscar_sat" action="{$fsc->url()}" method="post" class="form">
   <input type="hidden" name="mostrar" value="{$fsc->mostrar}"/>
   <div class="container-fluid" style="margin-top: 10px; margin-bottom: 10px;">
      <div class="row">
         <div class="col-sm-6">
            <div class="btn-group hidden-xs">
               <a class="btn btn-sm btn-default" href="{$fsc->url()}" title="Recargar la página">
                  <span class="glyphicon glyphicon-refresh"></span>
               </a>
               {if="$fsc->page->is_default()"}
               <a class="btn btn-sm btn-default active" href="{$fsc->url()}&amp;default_page=FALSE" title="desmarcar como página de inicio">
                  <span class="glyphicon glyphicon-home"></span>
               </a>
               {else}
               <a class="btn btn-sm btn-default" href="{$fsc->url()}&amp;default_page=TRUE" title="marcar como página de inicio">
                  <span class="glyphicon glyphicon-home"></span>
               </a>
               {/if}
            </div>
            <div class="btn-group">
               <a href="#" id="b_nuevo_sat" class="btn btn-sm btn-success">
                  <span class="glyphicon glyphicon-plus"></span> &nbsp; Nuevo
               </a>
               {loop="$fsc->extensions"}
                  {if="$value->type=='button'"}
                  <a href="index.php?page={$value->from}{$value->params}" class="btn btn-sm btn-default">{$value->text}</a>
                  {/if}
               {/loop}
            </div>
         </div>
         <div class="col-sm-6 text-right">
            {if condition="isset($_GET['codcliente'])"}
            <h2 style="margin-top: 0px;">Resultados del cliente {$_GET['codcliente']}</h2>
            {else}
            <h2 style="margin-top: 0px;">SAT</h2>
            {/if}
         </div>
      </div>
      <div class="row">
         <div class="col-sm-3">
            <div class="input-group">
               <input type="text" class="form-control" name="query" value="{$fsc->query}" placeholder="Buscar" autocomplete="off"/>
               <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit" onclick="this.disabled = true; this.form.submit();">
                     <span class="glyphicon glyphicon-search"></span>
                  </button>
               </span>
            </div>
         </div>
         <div class="col-sm-2">
            <div class="form-group">
               <input class="form-control datepicker" type="text" name="desde" value="{$fsc->busqueda['desde']}" placeholder="Desde..." autocomplete="off"/>
            </div>
         </div>
         <div class="col-sm-2">
            <div class="form-group">
               <input class="form-control datepicker" type="text" name="hasta" value="{$fsc->busqueda['hasta']}" placeholder="Hasta..." autocomplete="off"/>
            </div>
         </div>
         <div class="col-sm-3">
            <div class="form-group">
               <select name="estado" class="form-control" onchange="this.form.submit();">
                  <option value="activos" {if="$fsc->busqueda['estado']=='activos'"} selected{/if}>Activos</option>
                  <option value="todos"{if="$fsc->busqueda['estado']=='todos'"} selected{/if}>Todos</option>
                  <option value="">------</option>
                  {loop="fsc->estado->all()"}
                  <option value="{$value->id}"{if="$fsc->busqueda['estado']==$value->id"} selected{/if}>{$value->descripcion}</option>
                  {/loop}
               </select>
            </div>
         </div>
         <div class="col-sm-2">
            <div class="form-group">
               <select name="orden" class="form-control" onchange="this.form.submit();">
                  <option value="nsat"{if="$fsc->busqueda['orden']=='nsat'"} selected{/if}>Orden: Nº sat</option>
                  <option value="nsat2"{if="$fsc->busqueda['orden']=='nsat2'"} selected{/if}>Orden: Nº sat (inverso)</option>
                  <option value="fentrada"{if="$fsc->busqueda['orden']=='fentrada'"} selected{/if}>Orden: fecha</option>
                  <option value="fentrada2"{if="$fsc->busqueda['orden']=='fentrada2'"} selected{/if}>Orden: fecha (inverso)</option>
                  {if="$fsc->sat_setup['sat_col_fechaini']"}
                  <option value="fcomienzo"{if="$fsc->busqueda['orden']=='fcomienzo'"} selected{/if}>Orden: fecha comienzo</option>
                  {/if}
                  {if="$fsc->sat_setup['sat_col_fechafin']"}
                  <option value="ffin"{if="$fsc->busqueda['orden']=='ffin'"} selected{/if}>Orden: fecha finalización</option>
                  {/if}
                  <option value="prioridad"{if="$fsc->busqueda['orden']=='prioridad'"} selected{/if}>Orden: prioridad</option>
               </select>
            </div>
         </div>
      </div>
   </div>
</form>

<ul class="nav nav-tabs">
   <li{if="$fsc->mostrar=='resultados'"} class="active"{/if}>
      <a href="{$fsc->url()}&mostrar=resultados">
         <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
         <span class="hidden-xs">&nbsp; Resultados</span>
      </a>
   </li>
   {if="$fsc->sat_setup['maps_api_key']"}
   <li{if="$fsc->mostrar=='mapa'"} class="active"{/if}>
      <a href="{$fsc->url()}&mostrar=mapa" title="Mapa">
         <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
      </a>
   </li>
   {/if}
</ul>

{if="$fsc->mostrar=='resultados'"}
<div class="table-responsive">
   <table class="table">
      <thead>
         <tr>
            <th class="text-left">N sat</th>
            {if="$fsc->sat_setup['sat_col_prioridad']"}<th class="text-left">Prioridad</th>{/if}
            {if="$fsc->sat_setup['sat_col_fecha']"}<th class="text-left">Fecha</th>{/if}
            {if="$fsc->sat_setup['sat_col_fechaini']"}<th class="text-left">Fecha inicio</th>{/if}
            {if="$fsc->sat_setup['sat_col_fechafin']"}<th class="text-left">Fecha finalización</th>{/if}
            {if="$fsc->sat_setup['sat_col_modelo']"}<th class="text-left">Modelo</th>{/if}
            <th class="text-left">Cliente</th>
            <th class="text-left">Avería</th>
            <th class="text-right">Estado</th>
         </tr>
      </thead>
      {loop="fsc->resultado"}
      <tr class="clickableRow" href="{$value->url()}" style="background-color: #{$value->color_estado()}">
         <td><a href="{$value->url()}">{$value->nsat}</a></td>
         {if="$fsc->sat_setup['sat_col_prioridad']"}<td>{$value->estrellas_prioridad()}</td>{/if}
         {if="$fsc->sat_setup['sat_col_fecha']"}<td>{$value->fentrada}</td>{/if}
         {if="$fsc->sat_setup['sat_col_fechaini']"}<td>{$value->fcomienzo}</td>{/if}
         {if="$fsc->sat_setup['sat_col_fechafin']"}<td>{$value->ffin}</td>{/if}
         {if="$fsc->sat_setup['sat_col_modelo']"}<td>{$value->modelo}</td>{/if}
         <td>
            {$value->nombre_cliente}
            <a href="{$fsc->url()}&codcliente={$value->codcliente}" class="cancel_clickable" title="Ver más registros de {$value->nombre_cliente}">[+]</a>
         </td>
         <td>{$value->averia_resume()}</td>
         <td class="text-right">{$value->nombre_estado()}</td>
      </tr>
      {else}
      <tr class="bg-warning">
         <td colspan="9">Sin resultados.</td>
      </tr>
      {/loop}
   </table>
</div>
<ul class="pager">
   {if="$fsc->anterior_url()!=''"}
   <li class="previous">
      <a href="{$fsc->anterior_url()}">
         <span class="glyphicon glyphicon-chevron-left"></span> &nbsp; Anteriores
      </a>
   </li>
   {/if}
   
   {if="$fsc->siguiente_url()!=''"}
   <li class="next">
      <a href="{$fsc->siguiente_url()}">
         Siguientes &nbsp; <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
   </li>
   {/if}
</ul>
{elseif="$fsc->mostrar=='mapa' AND $fsc->sat_setup['maps_api_key']"}
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key={$fsc->sat_setup['maps_api_key']}&sensor=TRUE"></script>
<script type="text/javascript">
   var map;
   function initialize2() {
      var mapOptions = {
         zoom: 15,
         mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
      geocoder = new google.maps.Geocoder();
      {loop="$fsc->resultado"}
         {if="$counter<20"}
         geocoder.geocode( { 'address': '{$value->direccion_cliente()}' }, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
               var marker = new google.maps.Marker({
                  map: map,
                  position: results[0].geometry.location,
                  title: "#{$value->nsat} {$value->nombre_cliente}\ntlf1: {$value->telefono1_cliente} tlf2: {$value->telefono2_cliente}\n",
                  url: '{$value->url()}',
                  icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|{$value->color_estado()}'
               });
               google.maps.event.addListener(marker, 'click', function() {
                  window.location.href = this.url;
               });
            } else {
               alert('Geocode was not successful for the following reason: ' + status);
            }
         });
         {/if}
      {/loop}
      if(navigator.geolocation) {
         navigator.geolocation.getCurrentPosition(function (position) {
            initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            map.setCenter(initialLocation);
         });
      }
   }
   $(document).ready(function() {
      google.maps.event.addDomListener(window, 'load', initialize2);
   });
</script>
<div id="map-canvas" style="width:100%; height:800px; margin-top: 2px;"></div>
<form action="{$fsc->url()}" method="post" class="form">
   <div id="map-api-form" style="margin: 10px; display: none;">
      <div class="form-group">
         Nueva clave de la API:
         <input type="text" name="maps_api_key" placeholder="Clave de la API" class="form-control" autocomplete="off"/>
      </div>
      <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true; this.form.submit();">
         <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp; Guardar
      </button>
   </div>
</form>
{/if}

<div class="modal" id="modal_nuevo_sat">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Nuevo SAT...</h4>
         </div>
         <div role="tabpanel">
            <ul class="nav nav-tabs nav-justified" role="tablist">
               <li role="presentation" class="active">
                  <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
                     <span class="glyphicon glyphicon-search" aria-hidden="true"></span> &nbsp; Buscar cliente
                  </a>
               </li>
               <li role="presentation">
                  <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
                     <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> &nbsp; Nuevo cliente
                  </a>
               </li>
            </ul>
            <div class="modal-body">
               <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="home" style="margin-top: 10px;">
                     <form name="f_nuevo_sat" class="form" action="index.php" method="get">
                        <input type="hidden" name="codcliente"/>
                        <input type="hidden" name="nuevosat" value="TRUE"/>
                        <input type="hidden" name="page" value="{$fsc->page->name}"/>
                        <div class="input-group">
                           <input class="form-control" type="text" name="ac_cliente" id="ac_cliente" placeholder="Buscar..." autocomplete="off"/>
                           <span class="input-group-btn">
                              <button class="btn btn-primary" type="submit" onclick="this.disabled = true;this.form.submit();">
                                 <span class="glyphicon glyphicon-search"></span>
                              </button>
                           </span>
                        </div>
                     </form>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="profile">
                     <form name="f_nuevo_cliente" action="{$fsc->url()}" method="post" class="form">
                        <input type="hidden" name="nuevosat" value="TRUE"/>
                        <div class="form-group">
                           Nombre:
                           <input class="form-control" type="text" name="nombre" autocomplete="off"/>
                        </div>
                        <div class="form-group">
                           {#FS_CIFNIF#}:
                           <input class="form-control" type="text" name="cifnif" autocomplete="off"/>
                        </div>
                        <div class="form-group col-lg-6">
                           Teléfono:
                           <input class="form-control" type="text" name="telefono1" autocomplete="off"/>
                        </div>
                        <div class="form-group col-lg-6">
                           Móvil:
                           <input class="form-control" type="text" name="telefono2" autocomplete="off"/>
                        </div>
                        <div class="form-group col-lg-6">
                           <a href="{$fsc->pais->url()}">País</a>:
                           <select class="form-control" name="pais">
                              {loop="$fsc->pais->all()"}
                              <option value="{$value->codpais}"{if condition="$value->is_default()"} selected="selected"{/if}>{$value->nombre}</option>
                              {/loop}
                           </select>
                        </div>
                        <div class="form-group col-lg-6">
                           <div class="text-capitalize">{#FS_PROVINCIA#}:</div>
                           <input class="form-control" type="text" name="provincia" autocomplete="off" value="{$fsc->empresa->provincia}"/>
                        </div>
                        <div class="form-group col-lg-6">
                           Ciudad:
                           <input class="form-control" type="text" name="ciudad" autocomplete="off" value="{$fsc->empresa->ciudad}"/>
                        </div>
                        <div class="form-group col-lg-6">
                           Código Postal:
                           <input class="form-control" type="text" name="codpostal" autocomplete="off" value="{$fsc->empresa->codpostal}"/>
                        </div>
                        <div class="form-group">
                           Dirección:
                           <input class="form-control" type="text" name="direccion" value="C/ " autocomplete="off"/>
                        </div>
                        <div class="text-right">
                           <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled = true; this.form.submit();">
                              <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp; Guardar y seleccionar
                           </button>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

{include="footer"}